body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333333;
}

pre {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333333;
  text-align: left;
}

.header {
    padding: 2%;
}

.widgetSection {
    width: auto;
    height: auto;
    float: left;
    padding: 2%;
    margin: 2%;
    overflow-wrap: break-word;
    border: 0.1pc solid #FBD647;
    border-radius: 2pc;
    font-size: 2em;
    text-align: center;
}

.widgetSection_mid {
    width: auto;
    height: auto;
    float: left;
    padding: 2%;
    margin: 1%;
    overflow-wrap: break-word;
    border: 0.1pc solid #FBD647;
    border-radius: 2pc;
    font-size: 1em;
    text-align: center;
}

.widgetSection_big_text {
    width: auto;
    height: auto;
    float: left;
    padding: 2%;
    margin: 1%;
    overflow-wrap: break-word;
    border: 0.1pc solid #FBD647;
    border-radius: 2pc;
    font-size: 1em;

}

.widgetSection_small_right {
    width: auto;
    height: auto;
    float: right;
    padding: 1%;
    margin: 1%;
    overflow-wrap: break-word;
    border: 0.0pc solid #FBD647;
    border-radius: 2pc;
    font-size: 1em;
    text-align: center;
}

.widgetSection:hover {
    background-color: #FFCB001A;
}


/* top menu starts */

div.scrollmenu {
    /* background-color: #f3f3f3; */
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: #666;
    text-align: center;
    padding: 1%;
    text-decoration: none;
}

div.scrollmenu a:hover:not(.active) {
    /* background-color: #ddd; */
}

div.scrollmenu a.active {
    /* color: white; */
    /* background-color: #4CAF50; */


}

div.scrollmenu a:hover {
    /* background-color: #777; */
}

/* top menu ends */
